//The area behind the “ODIN” logo is a div that has a dark, 
//but semi-transparent background color. This enhances the 
//readability of the text against the busy background image.

//Create account button color
$account-button-color: #596D48;

//Input border, try to include :invalid aswel
$input-border: #E5E7EB;

//The other variation is the selected input, which should have a blue 
//border and subtle box-shadow. 
//This can be done with the :focus pseudo-class you’ve 
//learned about in an earlier lesson.

$input-border-selected: #6385e3;

$input-outline-invalid: #bd2a2a;

$form-background-color: white;
$main-background-color: #f9fafb;

//General resets
h1, h2, p {
    @extend %reset-margin-padding;
}

@font-face {
    font-family: 'Norse Bold';
    src: 
        url('./font/Norse-Bold.ttf') format('truetype'),
        url('./font/Norse-Bold.woff') format('woff'),
        url('./font/Norse-Bold.ttf') format('truetype');

    font-style: normal;
    font-weight: bold;
}

$font-size: 16px;