@import '../../scss_base/starter';
@import 'base';

//General layout
body {
    max-height: 720px;
    @include grid($column: 1fr 2fr);
    @include defineGridArea(
        (
            'aside': aside,
            'main': main
        )
    );
    grid-template-areas: 
        'aside main'
    ;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: calc($font-size + 0.1vw);
}

//Aside styling
aside {
    img {
        width: 100%;
        height: 100%;
    }

    position: relative;
    .logo {
        top: 200px;
        position: absolute;
        background-color: rgba(0, 0, 0 , .5);
        width: 100%;

        @include flex($justify: center, $align: center);
        .logo-img {
            width: 25%;
        }

        p {
          color: white;
          font-family: 'Norse Bold';
          font-size: $font-size * 7;
          font-style: bold;
        }
    }

}

$content-width: 90%;
//Main styling
main {
    @include flex($direction: column, $align: flex-start);
    gap: 70px;
    padding: 200px 0;
    background-color: $main-background-color;

    header {
        @include flex($direction: column, $align: center);
        gap: 20px;
        h1 {
            font-size: $font-size * 2;
        }

        h2 {
            font-size: $font-size * 1.5;
        }

        h1, h2 {
            width: $content-width;
        }
    }

    section.form {
        background-color: $form-background-color;
        width: 100%;
        padding: 50px 0;
        box-shadow: 0px 4px  5px 0px rgba(0, 0, 0 , .2);
        @include flex($direction: column, $align: center);
        gap: 30px;

        h2 {
            font-weight: 400;
        }

        > * {
            width: $content-width;
        }
   }

    section.login {
        @include flex($direction:column, $align: center);
        width: 100%;

        .controls {
            @include flex($direction:column, $align: flex-start);
            gap: 10px;
            width: $content-width;

            button {
                background-color: $account-button-color; 
                color: white;
                padding: 10px 20px;
                border: 1px solid $account-button-color;
                border-radius: 7px;
                font-weight: 500;
                width: 30%;
            }
            
            button:hover {
                opacity: 0.7;
            }

            button:active {
                color: black;
            }

            a {
                font-weight: 500;
                color: $account-button-color;
            }
        }
    }
}

//Detail styling in the main
header {
    h1, h2{
        font-weight: 400;
    }
}

//Form
form {
    width: 70%;
    @include grid($column: 1fr 1fr);
    row-gap: 25px;
    column-gap: 100px;
    background-color: $form-background-color;

    p {
        @include flex($direction: column);
        gap: 5px;

        input {
            width: 100%;
            height: 2.3rem;
            border: 1px solid $input-border;
            border-radius: 4px;
            outline: none;
            padding: 7px 7px 7px 10px; 
        }

        input:hover {
            outline: 1px solid darken($input-border, 10%);
        }

        input:focus {
            outline: 1px solid $input-border-selected;
            box-shadow: 2px 2px 3px 1px rgba(0, 0, 0 , .2);
        }

        input:invalid {
            outline: 1px solid $input-outline-invalid;
        }

        input.initial {
            outline: none;
        }


        input.error-confirm {
            outline: 1px solid $input-outline-invalid;
        }

        #user_pwd.error-confirm + span::after{
            content: '* Password do not match';
            color: $input-outline-invalid;
            font-size: 0.9rem;
        }
    }
}

//Mobile version
@media (max-width: 1100px) {
    body {
        @include grid($column: 1fr);
       grid-template-areas:
           "aside"
           "main"
       ;
       max-height: none;
    }

    main {
        header {
            h1, h2 {
                text-align: center;
            }

            @media (max-width: 375px) {
                h1 {
                    font-size: $font-size * 1.8;
                }
                h2 {
                    font-size: $font-size * 1.5;
                }
            }
        }

        section.form {
            h2 {
                text-align: center;
            }
            .form-wraper {
                @include flex($justify: center);

                form {
                    column-gap: 45px;

                    @media (max-width: 750px) {
                        @include flex($direction: column, $align: center);
                    }

                    @media (max-width: 375px){
                        width: 100%;
                    }
                }
            }
        }

        section.login {
            .controls {
                @include flex($direction: column, $align: center);

                @media (max-width: 425px) {
                    button {
                        width: 50%;
                    }
                }
            }
        }
    }
}